
/*input 1*/
.input-container {
  position: relative;
  /* margin-left: 5px;
  margin-right: 5px; */
  width: 100%;
  /* background-color: violet; */
}


.currency-symbol {
  position: absolute;
  left: 15px; /* Ajusta la posición del símbolo "$" según tus necesidades */
  top: 73%;
  transform: translateY(-50%);
  color:#a0b8b8;
}

/* Estilo personalizado para el marcador de posición */
input::placeholder  {
  /* color: red; Cambia el color del texto del marcador de posición */
  /* font-style: italic; Aplica estilo itálico al texto del marcador de posición */
  color:#a0b8b8;
  padding: 7px;
}

#myInput{
  /* padding-left: 30px; */
  /* border-right: 10px solid #f3f8fb; */
  /* width: 100%; */
  padding: 10px;
  height: 20px;
  flex: 1;
  background-color: #f3f8fb;
  direction: rtl;
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-family: 'Croissant One', cursive;
  color: #02373a;
  font-weight: bold;
}

#myInputError{
  /* padding-left: 30px; */
  /* border-right: 10px solid #f3f8fb; */
  /* width: 100%; */
  padding: 10px;
  height: 20px;
  flex: 1;
  background-color: #f3f8fb;
  direction: rtl;
  outline: 4px solid #d77058;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-family: 'Croissant One', cursive;
  color: #02373a;
  font-weight: bold;
}


#myInput:focus {
  outline: 4px solid #8fe0d5; /*Cambiar el color y el grosor del borde en enfoque*/
}





input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/*Contenedor del input y label*/

.Input_completo{
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  /* width: 340px; */
  /* width: 100%; */
}

.label{
  color: #728383;
  margin-bottom: 8px;
}
.labelError{
  color: #d77058;
  margin-bottom: 8px;
}

.ContenedorLabel{
  display: flex;
  justify-content: space-between;
}
  
  