#myInput2{
  height: 40px;
  width: 102px;
  background-color: #f3f8fb;
  direction: rtl;
  outline: none;
  /* border-radius: 5px; */
  border: none;
  font-size: 20px;
  font-family: 'Croissant One', cursive;
  color: #02373a;
  font-weight: bold;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 5px;
}

#myInput2:focus {
  outline: 4px solid #8fe0d5; /*Cambiar el color y el grosor del borde en enfoque*/
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

#myInput2::placeholder{
  text-align: center;
  font-size: 22px;

}
